@model ForumApp.Models.Category

@{
    ViewData["Title"] = "Edit Category";
}

<h1>Edit Category</h1>

<h4>Category</h4>
<hr />
@* ovo isto pre nije bilo objasni i sta je to *@
<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.CategoryId)

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    @if (ViewBag.ParentCategories != null)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.ParentCategoryId, "Parent Category")
            @Html.DropDownListFor(
                     model => model.ParentCategoryId,
                     (SelectList)ViewBag.ParentCategories,
                     "- Izaberi roditeljsku kategoriju -",
                     new { @class = "form-control" }
                     )
            @Html.ValidationMessageFor(model => model.ParentCategoryId, "", new { @class = "text-danger" })
        </div>
    }

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
    </div>
</form>

