@model ForumApp.Models.Category

@{
    ViewData["Title"] = "Edit Category";
}

<h1>Edit Category</h1>

<h4>Category</h4>
<hr />
<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CategoryId)
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>


    @if (ViewBag.ParentCategories != null)
    {
        @Html.LabelFor(model => model.ParentCategoryId, "Roditeljska kategorija")
        <div class="form-group">
            <select asp-for="ParentCategoryId" asp-items="ViewBag.ParentCategories">
                @if (User.IsInRole("Admin"))
                {
                    <option value="">Bez roditelja</option>
                }
            </select>
        </div>
    }

    <div class="d-flex justify-content-center" mt-1>
        <button type="submit" class="btn btn-success">Sacuvaj izmene</button>
        <a href="@Url.Action("Index")" class="btn btn-secondary">Otkazi</a>
    </div>
</form>

