@model ForumApp.Models.Theme
@{
    ViewData["Title"] = Model.Title;
}

<div class="container my-5">
    <a href="@Url.Action("Index","Theme")" class="btn btn-success">Nazad na listu</a>

    <div class="card mt-2">
        <div class="d-flex justify-content-start p-3">
            <span class="badge bg-secondary me-2">Autor: @Model.User?.DisplayName</span>
            <span class="badge bg-info">@Model.Category?.Name</span>
        </div>


        <p class="text-muted small mt-2">
            Objavljeno: @Model.CreatedAt.ToString("dd.MM.yyyy HH:mm")
        </p>

        <h2 class="text-primary mt-2">@Model.Title</h2>

        <p class="mt-3">
            @Model.Content
        </p>
    </div>
</div>



